.bin-ha-4-2 {
  position: relative;
  width: 70px;
  height: 40px;
  object-fit: cover;
}
.bin-ha-4-2-wrapper,
.frame-child {
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.bin-ha-4-2-wrapper {
  background-color: var(--color-white);
  width: 205px;
  height: 83px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5px 0;
}
.frame-child {
  border: 0;
  outline: 0;
  background-color: rgba(156, 207, 235, 0.22);
  position: relative;
  border-radius: 44px;
  border-top: 1px solid var(--color-darkslategray);
  border-right: 4px solid var(--color-darkslategray);
  border-bottom: 4px solid var(--color-darkslategray);
  border-left: 1px solid var(--color-darkslategray);
  width: 611px;
  height: 35px;
}
.frame-wrapper,
.header-inner {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.frame-wrapper {
  background-color: var(--color-white);
  width: 711px;
  height: 83px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-6xs) 139px;
  box-sizing: border-box;
}
.header-inner {
  width: 789px;
  flex-direction: row;
  justify-content: flex-end;
}
.hin-ng1 {
  margin: 0;
  position: absolute;
  top: 8px;
  left: 0;
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-family: var(--font-lato);
  color: var(--color-black);
  text-align: left;
}
.image-93-icon {
  position: absolute;
  top: 0;
  left: 104px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
}
.hin-ng-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 144px;
  height: 40px;
}
.header,
.settings {
  background-color: var(--color-white);
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.settings {
  width: 252px;
  height: 81px;
  overflow: hidden;
  padding: var(--padding-3xs) 40px var(--padding-3xs) 26px;
}
.header {
  width: 1440px;
  padding: 0 0 0 27px;
  gap: 66px;
}
.homepage-1-icon {
  position: relative;
  width: 23px;
  height: 23px;
  object-fit: cover;
}
.bn-tin,
.homepage-1-parent {
  display: flex;
  align-items: center;
}
.bn-tin {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-baloo-bhaina-2);
  color: var(--color-black);
  text-align: left;
  width: 101px;
  height: 16px;
  flex-shrink: 0;
}
.homepage-1-parent {
  cursor: pointer;
  border: 0;
  padding: 9px var(--padding-3xs);
  background-color: transparent;
  border-radius: var(--br-6xl);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.book-1-parent:hover,
.homepage-1-parent:hover {
  background-color: var(--color-gainsboro);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.book-1-icon {
  position: relative;
  width: 23px;
  height: 17px;
  object-fit: cover;
}
.book-1-parent {
  cursor: pointer;
  border: 0;
  padding: 12px var(--padding-3xs);
  background-color: transparent;
  border-radius: var(--br-6xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.thng-bo {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-baloo-bhaina-2);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 101px;
  height: 21px;
  flex-shrink: 0;
}
.bell-1-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-13xl);
  background-color: transparent;
  width: 157px;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-smi);
}
.bell-1-parent:hover {
  background-color: #cfcfcf;
}
.bell-1-parent,
.info-1-parent,
.v-432hz {
  display: flex;
  align-items: center;
}
.v-432hz {
  position: relative;
  width: 101px;
  height: 13px;
  flex-shrink: 0;
}
.info-1-parent {
  width: 157px;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-smi);
}
.frame-container,
.frame-div {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.frame-div {
  background-color: var(--color-white);
  height: 981px;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px var(--padding-5xl);
  box-sizing: border-box;
  gap: 11px;
}
.frame-container {
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) 0 0;
}
.frame-inner,
.frame-item {
  position: absolute;
  top: 37px;
  left: calc(50% - 549.5px);
  width: 930px;
  height: 443px;
  overflow: hidden;
  object-fit: cover;
}
.frame-inner {
  top: 395px;
  left: calc(50% - 155.5px);
  border-radius: 1000px;
  width: 170px;
  height: 170px;
}
.hin-ng2 {
  position: absolute;
  top: 586px;
  left: calc(50% - 135.5px);
  display: inline-block;
  width: 130px;
  height: 52px;
}
.frame-parent2 {
  position: relative;
  background-color: var(--color-white);
  width: 1235px;
  height: 638px;
  overflow: hidden;
  flex-shrink: 0;
}
.image-13-icon {
  position: relative;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.chnh-sa-trang {
  position: relative;
  display: inline-block;
  width: 195px;
  height: 22px;
  flex-shrink: 0;
}
.frame-wrapper1,
.image-13-parent {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.image-13-parent {
  text-decoration: none;
  border-radius: var(--br-4xl);
  background-color: var(--color-darkslategray);
  width: 264px;
  height: 45px;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-10xs);
  gap: var(--gap-5xs);
  color: inherit;
}
.frame-wrapper1 {
  background-color: var(--color-white);
  width: 1235px;
  height: 70px;
  justify-content: flex-end;
  padding: 0 244px;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-lato);
}
.gii-thiu,
.gii-tnh,
.nam {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.gii-thiu {
  width: 303px;
  height: 22px;
}
.gii-tnh,
.nam {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  height: 29px;
}
.gii-tnh {
  font-family: inherit;
  width: 104px;
  z-index: 0;
}
.nam {
  font-family: var(--font-baloo-bhaina-2);
  width: 94px;
  z-index: 1;
}
.transgender-icon {
  position: absolute;
  margin: 0 !important;
  top: 4px;
  left: 0;
  width: 20px;
  height: 20px;
  object-fit: cover;
  z-index: 2;
}
.gender {
  width: 249px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 33px;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
}
.birthday-cake-icon {
  position: relative;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.div,
.ngy-sinh {
  position: relative;
  display: inline-block;
  height: 29px;
  flex-shrink: 0;
}
.ngy-sinh {
  white-space: pre-wrap;
  width: 103px;
}
.div {
  font-family: var(--font-baloo-bhaina-2);
  width: 110px;
}
.bd {
  width: 269px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
  box-sizing: border-box;
  gap: var(--gap-smi);
}
.gmail,
.hiengmailcom {
  position: relative;
  display: inline-block;
  width: 102px;
  height: 29px;
  flex-shrink: 0;
}
.hiengmailcom {
  font-family: var(--font-baloo-bhaina-2);
  width: 233px;
}
.email {
  width: 285px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.n-t,
.tp-hcm {
  position: relative;
  display: inline-block;
  height: 29px;
  flex-shrink: 0;
}
.n-t {
  white-space: pre-wrap;
  width: 98px;
}
.tp-hcm {
  font-family: var(--font-baloo-bhaina-2);
  width: 253px;
}
.image-9-parent {
  width: 301px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
}
.xem-thm-thng {
  position: relative;
  display: inline-block;
  width: 119px;
  height: 15px;
  flex-shrink: 0;
}
.xem-thm-thng-tin-wrapper {
  border-radius: var(--br-4xl);
  background-color: var(--color-darkslategray);
  width: 144px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px 2px;
  box-sizing: border-box;
}
.frame-wrapper3 {
  width: 366px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 12px;
  color: var(--color-white);
  font-family: var(--font-lato);
}
.gender-parent,
.gii-thiu-parent {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.gender-parent {
  border-radius: var(--br-6xl);
  background-color: var(--color-aliceblue);
  border: 1px solid var(--color-black);
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-6xs) var(--padding-mid);
  gap: 4px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.gii-thiu-parent {
  border-radius: var(--br-6xl) var(--br-6xl) 0 var(--br-6xl);
  background-color: var(--color-darkslategray);
  width: 425px;
  height: 278px;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-sm);
  box-sizing: border-box;
  gap: 26px;
}
.to-blog {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 16.5px;
  display: inline-block;
  width: 308px;
  height: 24px;
  flex-shrink: 0;
  z-index: 0;
}
.to-blog-wrapper {
  width: 352px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0 var(--padding-3xs) 16px;
  box-sizing: border-box;
  position: relative;
}
.blog-1-icon {
  position: relative;
  width: 76px;
  height: 65px;
  object-fit: cover;
}
.thm-hnh-nh {
  position: relative;
  line-height: 160%;
  display: inline-block;
  width: 191px;
  height: 31px;
  flex-shrink: 0;
}
.blog-1-parent,
.thm-hnh-nh-wrapper {
  flex-direction: row;
  justify-content: center;
}
.thm-hnh-nh-wrapper {
  width: 182px;
  display: flex;
  align-items: center;
}
.blog-1-parent {
  border-radius: var(--br-4xl);
  background-color: var(--color-lightskyblue);
  border-top: 1px solid var(--color-darkslategray);
  border-right: 4px solid var(--color-darkslategray);
  border-bottom: 4px solid var(--color-darkslategray);
  border-left: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 326px;
  height: 176px;
  padding: var(--padding-xl);
  gap: var(--gap-5xs);
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-baloo-bhai-2);
}
.blog-1-parent,
.frame-parent3,
.frame-parent4 {
  display: flex;
  align-items: center;
}
.frame-parent4 {
  border-radius: var(--br-6xl) var(--br-6xl) 0 0;
  background-color: var(--color-aliceblue);
  border-top: 1px solid var(--color-darkslategray);
  border-right: 4px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 405px;
  height: 278px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-smi) 29px var(--padding-3xs);
  gap: 42px;
  color: var(--color-darkslategray);
}
.frame-parent3 {
  width: 886px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 52px;
}
.frame-child1,
.frame-wrapper2 {
  box-sizing: border-box;
  overflow: hidden;
}
.frame-wrapper2 {
  background-color: var(--color-white);
  width: 1235px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 91px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: #f3e9e9;
}
.frame-child1 {
  position: relative;
  background-color: var(--color-aliceblue);
  border-right: 4px solid var(--color-darkslategray);
  width: 405px;
  height: 37px;
  flex-shrink: 0;
}
.frame-wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 260px 0 110px;
  box-sizing: border-box;
}
.frame-child2,
.frame-wrapper4 {
  background-color: var(--color-white);
  width: 1235px;
  overflow: hidden;
}
.trang-c-nhn-chuyn-gia,
.trang-c-nhn-chuyn-gia-inner {
  width: 1235px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.trang-c-nhn-chuyn-gia {
  flex-shrink: 0;
  flex-direction: row;
  font-size: 31px;
  font-family: var(--font-baloo-bhaina);
}
.frame-group {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child3 {
  position: absolute;
  top: 1023px;
  left: 300px;
  border-radius: var(--br-6xl) 0 var(--br-6xl) var(--br-6xl);
  background-color: var(--color-aliceblue);
  border-right: 4px solid var(--color-darkslategray);
  border-bottom: 4px solid var(--color-darkslategray);
  border-left: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 880px;
  height: 246px;
}
.tiu {
  position: relative;
  line-height: 160%;
  font-weight: 800;
  display: inline-block;
  width: 100px;
  height: 31px;
  flex-shrink: 0;
}
.tiu-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.frame-input {
  border: 0;
  outline: 0;
  background-color: transparent;
  border-radius: var(--br-6xl);
  border-top: 1px solid var(--color-darkslategray);
  border-right: 4px solid var(--color-darkslategray);
  border-bottom: 4px solid var(--color-darkslategray);
  border-left: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 647px;
  height: 36px;
}
.frame-parent6 {
  width: 757px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-child4 {
  border: 0;
  outline: 0;
  background-color: transparent;
  border-radius: var(--br-6xl);
  border-top: 1px solid var(--color-darkslategray);
  border-right: 4px solid var(--color-darkslategray);
  border-bottom: 4px solid var(--color-darkslategray);
  border-left: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 647px;
  height: 84px;
}
.frame-parent5,
.frame-parent7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent7 {
  width: 757px;
  height: 121px;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.frame-parent5 {
  position: absolute;
  top: 1042px;
  left: 327px;
  border-radius: var(--br-4xl);
  background-color: var(--color-lightskyblue);
  border-top: 1px solid var(--color-darkslategray);
  border-right: 4px solid var(--color-darkslategray);
  border-bottom: 4px solid var(--color-darkslategray);
  border-left: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 813px;
  height: 203px;
  flex-direction: column;
  padding: var(--padding-xl);
  gap: 29px;
  text-align: center;
  font-size: var(--font-size-xl);
  font-family: var(--font-baloo-bhai-2);
}
.frame-parent,
.image-93-icon1 {
  position: relative;
  width: 1440px;
  height: 1269px;
}
.image-93-icon1 {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.tin-s-t {
  position: relative;
  display: inline-block;
  width: 101px;
  height: 16px;
  flex-shrink: 0;
}
.image-93-parent {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-lg);
  gap: var(--gap-3xs);
}
.frame-child5 {
  position: relative;
  width: 4px;
  height: 5px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-child6 {
  position: relative;
  width: 1px;
  height: 4px;
}
.frame-child6,
.frame-icon,
.frame-parent8 {
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent8 {
  border-radius: var(--br-mini) var(--br-mini) 0 0;
  width: 827px;
  height: 363px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  z-index: 0;
}
.frame-icon {
  position: relative;
  width: 800px;
  height: 500px;
  object-fit: cover;
}
.bi-vit-2-inner {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-smi);
  z-index: 1;
}
.friendly-talk {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 58.5px);
  font-size: var(--font-size-xl);
  font-family: var(--font-lato);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 116px;
  height: 16px;
}
.button-friendly-talk {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  border-top: 1px solid var(--color-darkslategray);
  border-right: 4px solid var(--color-darkslategray);
  border-bottom: 4px solid var(--color-darkslategray);
  border-left: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 199px;
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-friendly-talk:hover {
  background-color: var(--color-skyblue-100);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.button-friendly-talk-wrapper {
  width: 827px;
  height: 78px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-10xs) var(--padding-sm);
  box-sizing: border-box;
  z-index: 2;
}
.bi-vit-2-child {
  position: absolute;
  margin: 0 !important;
  top: 63px;
  left: 13px;
  width: 800px;
  height: 288px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.bi-vit-2 {
  border-radius: var(--br-mini);
  border-top: 1px solid var(--color-darkslategray);
  border-right: 4px solid var(--color-darkslategray);
  border-bottom: 4px solid var(--color-darkslategray);
  border-left: 1px solid var(--color-darkslategray);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.button-friendly-talk-container,
.frame-parent9 {
  position: absolute;
  left: 0;
  width: 827px;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}
.frame-parent9 {
  top: 0;
  border-radius: var(--br-mini) var(--br-mini) 0 0;
  height: 363px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
  gap: var(--gap-3xs);
}
.button-friendly-talk-container {
  top: 863px;
  height: 78px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-10xs) var(--padding-sm);
}
.frame,
.frame-article {
  position: absolute;
  top: 0;
  left: 0;
  width: 827px;
  height: 941px;
  overflow: hidden;
}
.frame-article {
  left: 13px;
  width: 800px;
  height: 288px;
}
.frame-inner1,
.frame1 {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.frame-inner1 {
  top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-smi);
}
.frame1 {
  top: 63px;
  width: 826px;
  height: 800px;
}
.bi-vit-1,
.bi-vit-2-parent {
  overflow: hidden;
  flex-shrink: 0;
  box-sizing: border-box;
}
.bi-vit-1 {
  position: relative;
  border-radius: var(--br-mini);
  border-top: 1px solid var(--color-darkslategray);
  border-right: 4px solid var(--color-darkslategray);
  border-bottom: 4px solid var(--color-darkslategray);
  border-left: 1px solid var(--color-darkslategray);
  width: 827px;
  height: 941px;
}
.bi-vit-2-parent {
  background-color: var(--color-white);
  width: 913px;
  height: 2923px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 0;
  gap: 40px;
}
.container-inner {
  justify-content: center;
}
.container,
.container-inner,
.trang-c-nhn-nd,
.trangcanhancg {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 920px;
  justify-content: center;
  scrollbar-width: 20px;
  font-family: var(--font-lato);
}
.trang-c-nhn-nd,
.trangcanhancg {
  justify-content: flex-start;
}
.trang-c-nhn-nd {
  height: 4187px;
  flex-shrink: 0;
}
.trangcanhancg {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-baloo-bhaina-2);
}
@media screen and (max-width: 960px) {
  .frame-child {
    width: 70%;
    height: 50%;
  }
}
@media screen and (max-width: 420px) {
  .frame-child {
    width: 100px;
    height: 30px;
  }
}
.see-your-profile-child {
  position: absolute;
  top: 8px;
  left: 14px;
  border-radius: var(--br-81xl);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.hin-ng,
.see-your-profile1 {
  position: absolute;
  top: 10px;
  left: 62px;
  display: inline-block;
  width: 88px;
  height: 18px;
}
.see-your-profile1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 28px;
  font-size: var(--font-size-2xs);
  font-family: var(--font-inria-sans);
  color: var(--color-steelblue);
  text-align: left;
  width: 151px;
  height: 16px;
}
.see-your-profile-item {
  position: absolute;
  top: 58px;
  left: 4px;
  border-top: 2px solid #8a8a8a;
  box-sizing: border-box;
  width: 257px;
  height: 2px;
}
.see-your-profile {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 269px;
  height: 59px;
  overflow: hidden;
}
.privacy-1-icon {
  position: relative;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.privacy-1-wrapper {
  position: absolute;
  top: 8px;
  left: 14px;
  border-radius: var(--br-81xl);
  border: 1px solid var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10xs);
}
.chnh-sch-quyn,
.xem {
  position: absolute;
  top: 10px;
  left: 62px;
  display: inline-block;
  width: 191px;
  height: 18px;
}
.xem {
  top: 28px;
  font-size: var(--font-size-2xs);
  color: var(--color-steelblue);
  width: 151px;
  height: 16px;
}
.setting-and-privacy {
  position: absolute;
  top: 59px;
  left: 0;
  background-color: var(--color-white);
  width: 269px;
  height: 56px;
  overflow: hidden;
}
.logout-1-icon {
  position: relative;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.logout-1-wrapper {
  position: absolute;
  top: 8px;
  left: 13px;
  border-radius: var(--br-81xl);
  border: 1px solid var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs);
}
.log-out1 {
  position: absolute;
  top: calc(50% - 10px);
  left: 64px;
  display: inline-block;
  width: 88px;
  height: 18px;
}
.log-out {
  position: absolute;
  top: 115px;
  left: 0;
  background-color: var(--color-white);
  width: 269px;
  height: 56px;
  overflow: hidden;
}
.see-your-profile-parent {
  position: relative;
  border-top: 1px solid var(--color-black);
  border-right: 4px solid var(--color-black);
  border-bottom: 4px solid var(--color-black);
  border-left: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 269px;
  height: 171px;
  cursor: pointer;
  margin-top: 60px;
  margin-right: 60px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inria-sans);
}
